In [64]:
import numpy as np

# Basic Numpy Array

In [65]:
x = [1,2,3,4]
y = np.array(x)
print(y, type(y))

a = np.array([1,2,3,4])
print(a, type(a))

[1 2 3 4] <class 'numpy.ndarray'>
[1 2 3 4] <class 'numpy.ndarray'>

In [66]:
lst = []

for i in range(1,5):
    temp = int(input("Enter a number: "))
    lst.append(temp)

print(np.array(lst))

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
[1 2 3 4]

In [67]:
np.array(lst).ndim

1

In [68]:
arr2 = np.array([[1,2,3,4], [5,6,7,8]])
print(arr2)
print(arr2.ndim)

[[1 2 3 4]
 [5 6 7 8]]
2

In [69]:
arr3 = np.array([[[1,2,3], [4,5,6], [7,8,9]]])
print(arr3)
print(arr3.ndim)

[[[1 2 3]
  [4 5 6]
  [7 8 9]]]
3

In [70]:
arrn = np.array([1,2,3,4,5], ndmin = 10) # keyword is 'ndmin' not 'ndim'
print(arrn)
print(arrn.ndim)

[[[[[[[[[[1 2 3 4 5]]]]]]]]]]
10

### Array of Zeros

In [78]:
arr_zeros = np.zeros(5)
print(arr_zeros)

[0. 0. 0. 0. 0.]

In [80]:
arr_zeros2d = np.zeros((2,4))
print(arr_zeros2d)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]]

### Array of Ones

In [83]:
arr_ones = np.ones(5)
print(arr_ones)

[1. 1. 1. 1. 1.]

In [84]:
arr_ones2d = np.ones((4,2))
print(arr_ones2d)

[[1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]

### Empty Array

In [145]:
arr_empty = np.empty(4)
print(arr_empty)

[ 5. 10. 15. 20.]

### Range

In [89]:
arr_range = np.arange(5,10)
print(arr_range)

[5 6 7 8 9]

### Diagonal Elements with 1

In [95]:
arr_diagonal = np.eye(5) # 5x5 array
print(arr_diagonal)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [97]:
arr_diagonal3 = np.eye(3,5) # 3x5 array
print(arr_diagonal3)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]]

### LineSpace

In [112]:
arr_linespace = np.linspace(0,10, num=5)
print('5 equally seperated elements from 0 to 10', arr_linespace, '\n')

arr_linespace2 = np.linspace(0,10, num=4)
print('4 equally seperated elements from 0 to 10', arr_linespace2, '\n')

arr_linespace3 = np.linspace(0,20, num=2)
print('2 equally seperated elements from 0 to 20', arr_linespace3, '\n')

arr_linespace3 = np.linspace(0,20, num=5)
print('5 equally seperated elements from 0 to 20', arr_linespace3, '\n')

5 equally seperated elements from 0 to 10 [ 0.   2.5  5.   7.5 10. ]

4 equally seperated elements from 0 to 10 [ 0.          3.33333333  6.66666667 10.        ]

2 equally seperated elements from 0 to 20 [ 0. 20.]

5 equally seperated elements from 0 to 20 [ 0.  5. 10. 15. 20.]

## Creating Numpy Arrays with Random Numbers

### rand()

- Generates array with random numbers between 0 and 1

In [119]:
arr_rand = np.random.rand(5)
print(arr_rand)

[0.16562592 0.91210689 0.39640305 0.58626504 0.51487764]

In [120]:
arr_rand1 = np.random.rand(2,5)
print(arr_rand1)

[[0.4736114  0.16696192 0.48966073 0.31486091 0.77101935]
 [0.01675724 0.09608922 0.81892769 0.48970051 0.61023023]]

In [121]:
arr_rand3 = np.random.rand(2,5)
print(arr_rand3)

[[0.23625987 0.14079034 0.46680611 0.45935426 0.40519291]
 [0.32142632 0.30530332 0.89561804 0.11072937 0.4824482 ]]

### randn()
- Generates array with:
  - Numbers close to 0
  - Numbers that can be positive or negative

In [124]:
var1 = np.random.randn(5)
print(var1)

[-0.26205657 -0.15120825  0.85513963  1.33393519 -0.04963061]

### ranf()
- Generates array with random numbers between: [0.0, 1.0)

In [139]:
var2 = np.random.ranf(5)
print(var2)

[0.7784876  0.24405615 0.95571842 0.7785474  0.91477669]

### randint()
- Generates array of random number between a given range

In [143]:
var3 = np.random.randint(100,500, 5)
print(var3)

[234 200 120 216 249]

# Data Types

In [161]:
arr = np.array([1,2,3,4,5])
print(arr.dtype)

int32

In [162]:
arr2 = np.array([1.1, 2.2, 3.3, 4.4, 5.5])
print(arr2.dtype)

float64

In [164]:
arr3 = np.array(['a','b','c','d','e'])
print(arr3.dtype)

<U1

In [165]:
arr4 = np.array(['1','2','3','4','5',1,2,3,4,5])
print(arr4.dtype)

<U11

In [183]:
temp1 = np.array([1,2,3,4,5])
print(temp1.dtype, '-->', temp1)

temp2 = np.array(['1','2','3','4','5',1,2,3,4,5], dtype = np.int8)
print(temp2.dtype, '-->', temp2)

temp3 = np.array(['1','2','3','4','5',1,2,3,4,5], dtype = "f")
print(temp3.dtype, '-->', temp3)

int32 --> [1 2 3 4 5]
int8 --> [1 2 3 4 5 1 2 3 4 5]
float32 --> [1. 2. 3. 4. 5. 1. 2. 3. 4. 5.]

In [187]:
temp = np.array([10,20,30,40])
print(temp.dtype, '-->', temp)

new = np.float64(temp)
print(new.dtype, '-->', new)

new1 = np.int_(new)
print(new1.dtype, '-->', new1)

int32 --> [10 20 30 40]
float64 --> [10. 20. 30. 40.]
int32 --> [10 20 30 40]

In [191]:
x_old = np.array([10,20,30,40])

x_new = x_old.astype(float)

print('x_old:', x_old.dtype, '-->', x_old)
print('x_new:', x_new.dtype, '-->', x_new)

x_old: int32 --> [10 20 30 40]
x_new: float64 --> [10. 20. 30. 40.]

# Arithmetic Operations in Numpy Array

## 1D Arrays

In [219]:
var = np.array([1,2,3,4])

addition = var + 3
print('var + 3:', addition)

addition = np.add(var, 3)
print('np.add:', addition)

var + 3: [4 5 6 7]
np.add: [4 5 6 7]

In [212]:
var = np.array([1,2,3,4])

subtraction = var - 3
print(subtraction)

[-2 -1  0  1]

In [213]:
var = np.array([1,2,3,4])

multiplication = var * 3
print(multiplication)

[ 3  6  9 12]

In [214]:
var = np.array([1,2,3,4])

division = var / 3
print(division)

[0.33333333 0.66666667 1.         1.33333333]

In [216]:
var = np.array([1,2,3,4])

modulus = var % 3
print(modulus)

[1 2 0 1]

In [221]:
var1 = np.array([1,2,3,4])
var2 = np.array([10,20,30,40])

var_add = var1 + var2
print('var1 + var2:', var_add)

var_add = np.add(var1, var2)
print('np.add(var1, var2):', var_add)

var1 + var2: [11 22 33 44]
np.add(var1, var2): [11 22 33 44]

In [223]:
var = np.array([1,2,3,4])

power = np.power(var, 3)
print(power)

[ 1  8 27 64]

In [229]:
var = np.array([1,2,3,4])

'''
Note: For integer arguments with absolute value larger than 1,
the result is always zero because of the way Python handles integer division.
For integer zero the result is an overflow.
'''
reciprocal = np.reciprocal(var)
print(reciprocal)

[1 0 0 0]

In [233]:
var = np.array([10.,20.,30.,40.])

reciprocal = np.reciprocal(var)
print(reciprocal)

[0.1        0.05       0.03333333 0.025     ]

## 2D Arrays

In [243]:
var2d1 = np.array([[1,2,3,4], [5,6,7,8]])
var2d2 = np.array([[1,2,3,4], [5,6,7,8]])

add = var2d1 + var2d2
print('add:', '\n', add, '\n')

subtract = np.subtract(var2d1, var2d2)
print('subtract:', '\n', subtract, '\n')

multiply = np.multiply(var2d1, var2d2)
print('multiply:', '\n', multiply, '\n')

add:
 [[ 2  4  6  8]
 [10 12 14 16]]

subtract:
 [[0 0 0 0]
 [0 0 0 0]]

multiply:
 [[ 1  4  9 16]
 [25 36 49 64]]

reciprocal:
 [[1 0 0 0]
 [0 0 0 0]]

In [249]:
var2d1 = np.array([[1.,2.,3.,4.], [5.,6.,7.,8.]])
var2d2 = np.array([[9.,10.,11.,12.], [13.,14.,15.,16.]])

reciprocal = np.reciprocal(var2d1)
print('reciprocal var2d1:', '\n', reciprocal, '\n')

reciprocal = np.reciprocal(var2d2)
print('reciprocal var2d2:', '\n', reciprocal, '\n')

reciprocal var2d1:
 [[1.         0.5        0.33333333 0.25      ]
 [0.2        0.16666667 0.14285714 0.125     ]]

reciprocal var2d2:
 [[0.11111111 0.1        0.09090909 0.08333333]
 [0.07692308 0.07142857 0.06666667 0.0625    ]]

# Arithmetic Functions in Numpy

In [256]:
var = np.array([5,4,20,3,50,36,25,10,2,30,1,40])

print('min: ', '\n', np.min(var), np.argmin(var), '\n') # argmin returns index of the minimum element
print('max: ', '\n', np.max(var), np.argmax(var), '\n') # argmax returns index of the maximum element
print('sqrt: ', '\n', np.sqrt(var), '\n')

min:
 1 10

max:
 50 4

sqrt:
 [2.23606798 2.         4.47213595 1.73205081 7.07106781 6.
 5.         3.16227766 1.41421356 5.47722558 1.         6.32455532]

In [261]:
var1 = np.array([[5,4,20,3,50,36],[25,10,2,30,1,40]])

print('Min element through axis=0 (Column wise):', '\n', np.min(var1, axis=0), '\n', )
print('Min element through axis=1 (Row wise):', '\n', np.min(var1, axis=1), '\n', )

Min element through axis=0 (Column wise):
 [ 5  4  2  3  1 36]

Min element through axis=1 (Row wise):
 [3 1]

In [263]:
var2 = np.array([2,4,6,8])

print('sin:', np.sin(var2))
print('cos:', np.cos(var2))

sin: [ 0.90929743 -0.7568025  -0.2794155   0.98935825]
cos: [-0.41614684 -0.65364362  0.96017029 -0.14550003]

In [267]:
var3 = np.array([10,4,40,5])

print('cumsum:', np.cumsum(var3))

cumsum: [10 14 54 59]